<center>
  <ul style="list-style-type:none">

    <% @requests.map do |request| %>
    <% space = @owned_spaces.find { |space| request.space_id == space.id } %>
    <%=  space.name %><br>
    Status : <%=  request.confirmed  %>
    <% if request.confirmed == 'pending' %>
    <form action='/requests_received/<%= request.id %>' method="post">
      <input type="submit" name="status" value="confirmed"><br>

    </form>

    <form action='/requests_received/<%= request.id %>' method="post">
      <input type="submit" name="status" value="declined">
    </form>
    <% end %>
    <% end %>
</ul>
