<form action='/sign_in' method='post'>
  <input type='text' placeholder='email' name='email'>
  <input type='password' placeholder='password' name='password'>
  <input type='button' value= 'sign in' name='sign_in'>
</form>
