<form action='/spaces' method='post'>
  <input type='text' name='name' placeholder='name' />
  <input type='text' name='description' placeholder='describe your space' />
  <input type-'text' name='price' placeholder='price per night' />
  <input type='submit' value='Submit' />
</form>
